<div id="{{ object.id }}-form-container-{{ uuid }}">

    <form id="{{ object.id }}-form-{{ uuid }}" class="Form" method="POST" action=".">
        {% if object.enable_csrf %}
            {% csrf_token %}
        {% endif %}
        {{ form.as_p }}
        <input type="submit" onclick='FORMFACTORY.submitHandler{{ uuid }}();' value="{{ object.submit_button_text }}" />
    </form>

    <script type="text/javascript">
        // We namespace the js to assign as an onclick on the element itself.
        document.addEventListener('DOMContentLoaded', function(event) {
            FORMFACTORY = {
                submitHandler{{ uuid }}: function() {
                    console.log('{{ uuid }}');
                    event.preventDefault();
                    var form = event.target.form;//document.getElementById('{{ object.id }}-form-{{ uuid }}');
                    var formData = new FormData(event.target.form);
                    var xhr = new XMLHttpRequest();

                    xhr.open('POST', '{{ object.absolute_url }}?ajax=true');
                    xhr.onload = function() {
                        if (xhr.status == 200) {
                            document.getElementById('{{ object.id }}-form-container-{{ uuid }}').outerHTML = xhr.responseText;
                        } else if (xhr.status != 200) {
                            alert('Request failed with status: ' + xhr.status);
                        }
                    };
                    xhr.send(formData);
                }
            }
        });
    </script>
</div>
