<div id="{{ object.id }}-container">
    <script id="{{ object.id }}-js" type="text/javascript">
        // We namespace the js to assign as an onclick on the element itself.
        FORMFACTORY = {
            submitHandler: function() {
                event.preventDefault();
                var form = document.getElementById('{{ object.id }}-form');
                var formData = new FormData(form);
                var xhr = new XMLHttpRequest();

                xhr.open('POST', '{{ object.absolute_url }}?ajax=true');
                xhr.onload = function() {
                    if (xhr.status == 200) {
                        document.getElementById('{{ object.id }}-container').outerHTML = xhr.responseText;
                    } else if (xhr.status != 200) {
                        alert('Request failed with status: ' + xhr.status);
                    }
                };
                xhr.send(formData);
            }
        }
    </script>

    <form id="{{ object.id }}-form" class="Form" method="POST" action=".">
        {% if object.enable_csrf %}
            {% csrf_token %}
        {% endif %}

        {% comment %}
            We need to check if there is a form availible in context, otherwise we
            will never see backend errors come back.
        {% endcomment %}
        {% if form %}
            {{ form.as_p }}
        {% else %}
            {% with object.as_form as form %}
                {{ form.as_p }}
            {% endwith %}
        {% endif %}
        <input id="{{ object.id }}-submit" type="submit" onclick='FORMFACTORY.submitHandler();' value="{{ object.submit_button_text }}" />
    </form>
</div>
